# sudo apt install yt-dlp # 2023.1.6 version
# wget https://github.com/yt-dlp/yt-dlp/releases/download/2023.01.06/yt-dlp.tar.gz
# tar -xvzf yt-dlp.tar.gz
# cd yt-dlp
# sudo python3 setup.py install
# yt-dlp --version

scikit-learn<=1.2.1
# scikit-learn-intelex # to fasten scikit-learn
pydub<=0.25.1
youtube-dl<=2021.12.17
nltk<=3.8.1
pandas<=1.5.3
pandasql<=0.7.3
jupyter_client<=7.4.8
ipykernel<=6.19.2